
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neigborow Application - CM3070 Final Project">
    <meta name="keywords" content="Sharing,Borrowing,Lending,Saving">
    <meta name="author" content="Student 190415778">  

    <title>Neigborow Login</title>
    {% load static %}
    <!-- Load favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Styling with css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <style>

    </style>
</head>
<body style="background-color: #D6C6AC;">
  <div class="login-container">
    <!-- Logo centered -->
    <img src="{% static 'img/logo_main.jpg' %}" alt="Logo" class="login-logo mx-auto d-block">
    <h1>{% trans "Login" %}</h1>
    {% load crispy_forms_tags %}
    <form method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
    </form>
    <p>
        {% trans "Create an Account:" %} 
        <a href="{% url 'account_signup' %}">{% trans "Register" %}</a>
    </p>    
  </div>
</body>
</html>
